/*전역
***************/
* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 62.5%;
  font-family: Pretendard-Regular;
}
.body {
  width: 100%;
  margin: auto;
}

/*네비게이터
***************/
.navigator {
  font-size: 1.8rem;
  width: 100%;
  position: fixed;
}
.navigator ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1rem 0.5rem 0.5rem #ddd;
}
.navigator ul li {
  list-style: none;
  padding: 1rem;
  cursor: default;
}

/*홈
***************/
.home-section > div {
  padding-top: 4.5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  /* outline: 1px solid black; */
}
.name {
  padding: 4rem 0;
}
.name h1 {
  font-size: 3rem;
  letter-spacing: 0.001rem;
  color: #333;
}
.name h1 span {
  font-size: 1.6rem;
  font-variant: small-caps;
}
.name > span {
  font-size: 1.3rem;
}
.link-box-title {
  font-size: 2.3rem;
  padding-bottom: 1.5rem;
  font-variant: small-caps;
}
.link-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.resume {
  font-size: 1.6rem;
  display: block;
  outline: 0.2rem solid #333;
  border-radius: 1.5rem;
  width: 30%;
  padding: 1rem;
}
.resume p {
  padding: 0.5rem;
}
.resume-icon {
  font-size: 2rem;
}
.github-icon {
  width: 2rem;
  height: 2rem;
}

/*이력서
***************/
.resume-section > div {
  padding-top: 4.5rem;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.resume-section > div > .name {
  width: 100%;
}
.resume-section > div > .name > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.resume-section > div > .name > div > h1 {
  width: 100%;
  box-shadow: 0 0.2rem #333;
}
.resume-section > div > .name > div > h2 {
  padding-top: 0.5rem;
}
.picture-box {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 10rem;
  position: relative;
}
#picture {
  position: absolute;
  width: 110%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
